 .u-section-1 {
  background-image: url("../images/bg.jpg");
  background-position: 50% 50%;
  min-height: 646px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 645px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  line-height: 24px;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 101px 0 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 15px 52px 17px 51px;
}

.u-section-1 .u-image-1 {
  background-image: url("../images/BFSI-Banner_770x445.png");
  background-position: 50% 50%;
  min-height: 645px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.41;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 435px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-image-1 {
    background-position: 34.41% 50%;
    min-height: 563px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 686px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 300px;
  }

  .u-section-1 .u-image-1 {
    min-height: 719px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 995px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 470px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 150px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 524px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 815px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 552px;
}

.u-section-2 .u-text-1 {
  margin: 87px auto 0 500px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 31px 600px 0 15px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: -256px 15px 60px 600px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 412px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 501px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -320px;
    margin-right: 0;
    margin-left: 448px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 316px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 149px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/istockphoto-1127251935-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 618px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3.75rem;
  margin: 208px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  margin: 58px auto 60px;
  padding: 24px 77px 26px 76px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 143px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 116px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 108px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 110px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 50px;
    padding: 14px 58px 16px 57px;
  }
}